services:
  garage:
    image: dxflrs/garage:v2.1.0
    container_name: atlas-garage
    network_mode: host
    environment:
      GARAGE_CONFIG_FILE: /etc/garage.toml
    volumes:
      - ./garage.toml:/etc/garage.toml:ro

  fdb-coordinator:
    image: foundationdb/foundationdb:7.3.63
    container_name: atlas-fdb-coordinator
    network_mode: host
    environment:
      FDB_NETWORKING_MODE: host
      FDB_CLUSTER_FILE: /etc/foundationdb/fdb.cluster
    volumes:
      - ./foundation.cluster:/etc/foundationdb/fdb.cluster:ro

  fdb-server-1:
    depends_on:
      - fdb-coordinator
    image: foundationdb/foundationdb:7.3.63
    container_name: atlas-fdb-server-1
    network_mode: host
    environment:
      FDB_NETWORKING_MODE: host
      FDB_PORT: 4501
      FDB_CLUSTER_FILE: /etc/foundationdb/fdb.cluster
    volumes:
      - ./foundation.cluster:/etc/foundationdb/fdb.cluster:ro

  fdb-server-2:
    depends_on:
      - fdb-coordinator
    container_name: atlas-fdb-server-2
    image: foundationdb/foundationdb:7.3.63
    network_mode: host
    environment:
      FDB_NETWORKING_MODE: host
      FDB_PORT: 4502
      FDB_CLUSTER_FILE: /etc/foundationdb/fdb.cluster
    volumes:
      - ./foundation.cluster:/etc/foundationdb/fdb.cluster:ro

  fdb-server-3:
    depends_on:
      - fdb-coordinator
    container_name: atlas-fdb-server-3
    image: foundationdb/foundationdb:7.3.63
    network_mode: host
    environment:
      FDB_NETWORKING_MODE: host
      FDB_PORT: 4503
      FDB_CLUSTER_FILE: /etc/foundationdb/fdb.cluster
    volumes:
      - ./foundation.cluster:/etc/foundationdb/fdb.cluster:ro
